{% extends "base.html" %}
{% load static %}

<main id="main-home">
  {% block content %}
    <div class="px-4 py-5 my-5 mx-5 text-center bg-light text-dark bg-opacity-75">
      <h1 class="display-5 fw-bold"><span><img src="/media/logo/letter_Z.svg" class="logo-letter-z"></img></span>oo<span><img src="/media/logo/letter_T.svg" class="logo-letter-t"></img></span>ees</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
          This is going to be a cool description of what the brand is,
          and explain what the buttons below do. but for now it is just
          useless text. zoo tees is all about being in the zoo in a tee.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a class="btn btn-success btn-lg px-4" href="{% url "products" %}">
            Shop Now
          </a>
          <a class="btn btn-success btn-lg px-4" href="{% url "collections" %}">
            View Collections
          </a>
        </div>
      </div>
    </div>
  </main>

{% endblock %}
