html {
  height: 100%;
}

/* Logo classes */
.logo-letter-z {
  width: 4rem;
  height: 4rem;
}

.logo-letter-t {
  width: 3.5rem;
  height: 3.5rem;
}

/* main homepage video rules */
#bg-vid {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

/* button classes */
.btn-black {
  background: black;
  color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
  background: #222;
  color: white;
}

.text-black {
  color: #000 !important;
}

.border-black {
  border: 1px solid black !important;
}

.btn-outline-black {
  background: white;
  color: black !important;
  border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
  background: black;
  color: white !important;
}

/* collection images max size */
.collection-image {
  max-width: 90%;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

.featurette-heading {
  letter-spacing: -.05rem;
  font-size: 2.5rem;
}



